@model BICT.Payetakht.Data.ViewModels.AuditViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container layout-container">
    <div class="audit">
        <img src="~/Content/images/Slide.jpg" alt="" />
    </div>
    @if (ViewBag.FailMessage != null && ViewBag.FailMessage != "")
    {
        <div class="container">
            <div class="alert alert-danger">
                @ViewBag.FailMessage
            </div>
        </div>
    }
    @if (ViewBag.ShowSuccessMessage != null && ViewBag.ShowSuccessMessage == true)
    {
        if (ViewBag.ReturnBank != null && ViewBag.ReturnBank == true)
        {
            <div class="container">
                <div class="alert alert-success">
                    پرداخت شما با شماره پیگیری @ViewBag.ReferID باموفقیت ثبت گردید
                </div>
            </div>

        }
        <div class="container">
            <div class="alert alert-success">
                درخواست شما با موفقیت ثبت شد.در اسرع وقت با شما تماس خواهیم گرفت.
            </div>
        </div>
    }
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("سازنده", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("CarManufactureID", (IEnumerable<SelectListItem>)ViewBag.CarManufacturerList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("مدل", new { @class = "col-md-4 control-label" })
                        <div class=" col-md-8">
                            @Html.DropDownList("CarModelID", new List<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("سال ساخت", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("CarYearID", new List<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("جزئیات", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("CarDetailID", new List<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("شهر", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.DropDownList("CityID", (IEnumerable<SelectListItem>)ViewBag.CityList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", type = Request.Browser.IsMobileDevice ? "number" : "text" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = Request.Browser.IsMobileDevice ? "email" : "text" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.RequestDatePersian, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.RequestDatePersian, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.Label("هزینه کارشناسی", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            <input class="form-control" id="Price" type="text" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-11">
                        <button type="submit" class="btn btn-default pull-left">ذخیره</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#RequestDatePersian').persianDatepicker({
                initialValue: false,
                format: 'YYYY/MM/DD',
                minDate: new persianDate(),
                calendar: {
                    persian: {
                        showHint: true,
                        locale: 'fa'
                    },
                    gregorian: {
                        locale: 'fa',
                        showHint: false
                    },
                },
                autoClose :true,
                formatter: function (unixDate) {
                    var self = this;
                    var pdate = new persianDate(unixDate);
                    pdate.formatPersian = false;
                    return pdate.format(self.format);
                }
            });
            $('#CarManufactureID').change(function () {
                var carManufactureID = $(this).val() || 0;
                $.get('@Url.Action("GetCarModel")' + '?carManufactureID=' + carManufactureID, function (data) {
                    $('#CarModelID option').remove();
                    for (var i = 0; i < data.length; i++) {
                        $('#CarModelID').append($('<option value="' + data[i].Value + '">' + data[i].Text + '</option>'))
                    }
                });
            });
            $('#CarModelID').change(function () {
                var carModelID = $(this).val();
                $.get('@Url.Action("GetCarYear")' + '?carModelID=' + carModelID, function (data)
                {
                    $('#CarYearID option').remove();
                    for (var i = 0; i < data.length; i++) {
                        $('#CarYearID').append($('<option value="' + data[i].Value + '">' + data[i].Text +'</option>'))
                    }
                });
                $.get('@Url.Action("GetCarDetail")' + '?carModelID=' + carModelID, function (data)
                {
                    $('#CarDetailID option').remove();
                    for (var i = 0; i < data.length; i++) {
                        $('#CarDetailID').append($('<option value="' + data[i].Value + '">' + data[i].Text +'</option>'))
                    }
                });
            });
            $('#CarModelID,#CarYearID,#CarDetailID').change(function () {
                var carModelID = $('#CarModelID').val();
                var carYearID = $('#CarYearID').val();
                var carDetailID = $('#CarDetailID').val();

                if (!carModelID || !carYearID || !carDetailID) {
                    return;
                }
                $.get('@Url.Action("GetPrice")' + '?carModelID=' + carModelID + '&carYearID=' + carYearID + '&carDetailID=' + carDetailID, function (data) {
                    $('#Price').val(data + ' تومان');
                });
            });
        });
    </script>
}
