@model BICT.Payetakht.Data.ViewModels.AuditViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container layout-container">
    <section id="home" class="audit bg-black fix">
        <div class="overlay"></div>
        @*<div class="container">
            <div class="row">*@
                @*<div class="main_home text-center">
                    <div class="col-md-12">
                        <div class="audit_slid">
                            <div class="slid_item">
                                <div class="home_text ">
                                    <h2 class="text-white">کارشناسی تخصصی خودرو در محل</h2>
                                    <h1 class="text-white">بیش از ۲۵,۰۰۰ کارشناسی خودروی انجام شده در محل</h1>
                                    <h3 class="text-white">کارشناسی کامل فنی، بدنه و آپشن خودرو </h3>
                                </div>
                                <div class="home_btns m-top-40">
                                    <a href="" class="btn btn-primary m-top-20">مشاهده هزینه و ثبت سفارش</a>
                                    <a href="" class="btn btn-default m-top-20">آخرین کارشناسی های انجام شده</a>
                                </div>
                            </div><!-- End off slid item -->
                            <div class="slid_item">
                                <div class="home_text ">
                                    <h2 class="text-white">کارشناسی تخصصی خودرو در محل</h2>
                                    <h1 class="text-white">از سلامت فنی، بدنه و صلاحیت قیمت خودرویی که میخرید آگاه شوید</h1>
                                    <h3 class="text-white"> کارشناسی کامل فنی، بدنه و آپشن خودرو </h3>
                                </div>
                                <div class="home_btns m-top-40">
                                    <a href="" class="btn btn-primary m-top-20">مشاهده هزینه و ثبت سفارش</a>
                                    <a href="" class="btn btn-default m-top-20">آخرین کارشناسی های انجام شده</a>
                                </div>
                            </div><!-- End off slid item -->
                            <div class="slid_item">
                                <div class="home_text ">
                                    <h2 class="text-white">کارشناسی تخصصی خودرو در محل</h2>
                                    <h1 class="text-white">ارائه خدمات تخصصی کارشناسی خودرو در تهران</h1>
                                    <h3 class="text-white">کارشناسی کامل فنی، بدنه و آپشن خودرو </h3>
                                </div>
                                <div class="home_btns m-top-40">
                                    <a href="" class="btn btn-primary m-top-20">مشاهده هزینه و ثبت سفارش</a>
                                    <a href="" class="btn btn-default m-top-20">آخرین کارشناسی های انجام شده</a>
                                </div>
                            </div><!-- End off slid item -->
                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->*@
    </section>
    @if (ViewBag.ShowSuccessMessage != null && ViewBag.ShowSuccessMessage == true)
    {
        if (ViewBag.ReturnBank != null && ViewBag.ReturnBank == true)
        {
            <div class="container">
                <div class="alert alert-success">
                    پرداخت شما با شماره پیگیری @ViewBag.ReferID باموفقیت ثبت گردید
                </div>
            </div>
            
        }
        <div class="container">
            <div class="alert alert-success">
                درخواست شما با موفقیت ثبت شد.در اسرع وقت با شما تماس خواهیم گرفت.
            </div>
        </div>
    }
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("سازنده", new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.DropDownList("CarManufactureID", (IEnumerable<SelectListItem>)ViewBag.CarManufacturerList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("مدل", new { @class = "col-md-2 control-label" })
                    <div class=" col-md-4">
                        @Html.DropDownList("CarModelID", new List<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("سال ساخت", new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.DropDownList("CarYearID", new List<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("جزئیات", new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.DropDownList("CarDetailID", new List<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("شهر", new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.DropDownList("CityID", (IEnumerable<SelectListItem>)ViewBag.CityList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RequestDatePersian, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.RequestDatePersian, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("هزینه کارشناسی", new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        <input class="form-control" id="Price" type="text" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">ذخیره</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#RequestDatePersian').persianDatepicker({
                initialValue: false,
                format: 'YYYY/MM/DD',
                calendarType: "persian",
                minDate: new persianDate(),
                calendar: {
                    persian: {
                        locale: 'en'
                    }
                }
            });
            $('#CarManufactureID').change(function () {
                var carManufactureID = $(this).val() || 0;
                $.get('@Url.Action("GetCarModel")' + '?carManufactureID=' + carManufactureID, function (data) {
                    $('#CarModelID option').remove();
                    for (var i = 0; i < data.length; i++) {
                        $('#CarModelID').append($('<option value="' + data[i].Value + '">' + data[i].Text + '</option>'))
                    }
                });
            });
            $('#CarModelID').change(function () {
                var carModelID = $(this).val();
                $.get('@Url.Action("GetCarYear")' + '?carModelID=' + carModelID, function (data)
                {
                    $('#CarYearID option').remove();
                    for (var i = 0; i < data.length; i++) {
                        $('#CarYearID').append($('<option value="' + data[i].Value + '">' + data[i].Text +'</option>'))
                    }
                });
                $.get('@Url.Action("GetCarDetail")' + '?carModelID=' + carModelID, function (data)
                {
                    $('#CarDetailID option').remove();
                    for (var i = 0; i < data.length; i++) {
                        $('#CarDetailID').append($('<option value="' + data[i].Value + '">' + data[i].Text +'</option>'))
                    }
                });
            });
            $('#CarModelID,#CarYearID,#CarDetailID').change(function () {
                var carModelID = $('#CarModelID').val();
                var carYearID = $('#CarYearID').val();
                var carDetailID = $('#CarDetailID').val();

                if (!carModelID || !carYearID || !carDetailID) {
                    return;
                }
                $.get('@Url.Action("GetPrice")' + '?carModelID=' + carModelID + '&carYearID=' + carYearID + '&carDetailID=' + carDetailID, function (data) {
                    $('#Price').val(data + ' تومان');
                });
            });
        });
    </script>
}
