@model BICT.Payetakht.Data.ViewModels.AuditViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.CarManufactureTitle)
        @Html.DisplayFor(m => m.CarManufactureTitle)
    </div>
    <div>
        @Html.LabelFor(m => m.CarModelTitle)
        @Html.DisplayFor(m => m.CarModelTitle)
    </div>
    <div>
        @Html.LabelFor(m => m.CarDetailTitle)
        @Html.DisplayFor(m => m.CarDetailTitle)
    </div>
    <div>
        @Html.LabelFor(m => m.CarYearTitle)
        @Html.DisplayFor(m => m.CarYearTitle)
    </div>
    <div>
        @Html.LabelFor(m => m.Price)
        @Html.DisplayFor(m => m.Price)
    </div>
    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.DisplayFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.DisplayFor(m => m.LastName)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.DisplayFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Phone)
        @Html.DisplayFor(m => m.Phone)
    </div>
    <div>
        @Html.LabelFor(m => m.RequestDatePersian)
        @Html.DisplayFor(m => m.RequestDatePersian)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index")">بازگشت</a>
        </div>
    </div>

}
