@model IList<BICT.Payetakht.Data.ViewModels.AuditViewModel>
@{
    ViewBag.DashboardTitle = "درخواست های کارشناسی  ";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@if (ViewBag.Error != null)
{
    @ViewBag.Error
}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>وضعیت کارشناسی </label>
            <select class="form-control" id="readStatus">
                <option value="">انتخاب نمایید</option>
                <option value="0" selected="@(ViewBag.Read == 0 ? true : false)">چک  نشده</option>
                <option value="1" selected="@(ViewBag.Read == 1 ? true : false)">چک شده</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>وضعیت بازرسی</label>
            <select class="form-control" id="doneStatus">
                <option value="">انتخاب نمایید</option>
                <option value="0" selected="@(ViewBag.Done == 0 ? true : false)">بازرسی نشده</option>
                <option value="1" selected="@(ViewBag.Done == 1 ? true : false)">بازرسیس شده</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="btn-group">
            <button class="btn btn-primary" id="btnSearch">جستجو</button>
            <a class="btn btn-default" href="@Url.Action("Index")">نمایش همه</a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class=" table table-bordered table-condensed table-hover table-striped ">
        <tr>
            <th>سازنده</th>
            <th>مدل</th>
            <th>جزئیات</th>
            <th>هزینه کارشناسی</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>تاریخ</th>
            <th>وضعیت کارشناسی </th>
            <th>وضعیت بررسی</th>
            <th>نوع پرداخت</th>
            <th>تاریخ پرداخت</th>
            <th>شماره پیگیری</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarManufactureTitle</td>
                <td>@item.CarModelTitle</td>
                <td>@item.CarDetailTitle</td>
                <td>@item.Price</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@(new BICT.Payetakht.Helper.PersianDateTime(item.RequestDate).ToString(BICT.Payetakht.Helper.PersianDateTimeFormat.Date))</td>
                <td>@(item.IsDone ? "کارشناسی شده" : "کارشناسی نشده")</td>
                <td>@(item.IsRead ? "چک شده" : "چک نشده")</td>
                <td>
                    @if (item.PaymentTypeID == 1)
                    {
                        <text>پرداخت حضوری</text>
                    }
                    else if (item.PaymentTypeID == 2)
                    {
                        <text>پرداخت آنلاین</text>
                    }
                </td>
                <td>@(item.PaymentDate != null ? new BICT.Payetakht.Helper.PersianDateTime(item.PaymentDate.Value).ToString(BICT.Payetakht.Helper.PersianDateTimeFormat.FullDateLongTime) : "")</td>
                <td>@item.ReferID</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Inspection",new { id = item.ID })">گزارش کارشناسی</a>
                        @if (item.HavePicture)
                        {
                            <a class="btn btn-info" href="@Url.Action("Picture",new { id = item.ID })">تصاویر</a>
                        }
                        <a class="btn btn-info" href="@Url.Action("Detail",new { id = item.ID })">نمایش</a>
                        
                        @if (item.HaveInspection)
                        {
                        <a class="btn btn-danger" href="@Url.Action("DeleteInspection", new { id = item.ID })">حذف کارشناسی</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
    <nav aria-label="...">
        <ul class="pager">
            @if (ViewBag.Page > 1)
            {
                <li class="previous"><a href="@Url.Action("Index", new { p = ViewBag.Page - 1 , read = ViewBag.Read , done = ViewBag.Done })"><span aria-hidden="true">&rarr;</span> قبل</a></li>
            }
            @if (Model.Count == 10)
            {
                <li class="next"><a href="@Url.Action("Index", new { p = ViewBag.Page + 1 , read = ViewBag.Read , done = ViewBag.Done })">بعد <span aria-hidden="true">&larr;</span></a></li>
            }
        </ul>
    </nav>
</div>
<a href="@Url.Action("CreateInspection")">افزودن کارشناسی بدون درخواست</a>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                var read = $('#readStatus').val();
                var done = $('#doneStatus').val();
                window.location.href = "@Url.Action("Index")?p=1&read=" + read + "&done=" + done;
            });
        });
    </script>
}