@model IList<BICT.Payetakht.Data.ViewModels.CarDetailViewModel>
@{
    ViewBag.DashboardTitle = "جزئیات";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>

            <th>جزئیات</th>
            <th>سازنده</th>
            <th>مدل</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>

            <td>@item.Title</td>
            <td>@item.CarModelTitle</td>
            <td>@item.CarManufactureTitle</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info" href="@Url.Action("Edit",new { id = item.ID })">ویرایش</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete",new { id = item.ID })">حذف</a>
                </div>
            </td>
        </tr>
        }
    </table>
</div>
<a href="@Url.Action("Create")">افزودن جزئیات</a>
