<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کارشناس پایتخت</title>
    <meta name="description" content="test" />
    <meta name="keywords" content="test" />
    <meta http-equiv="content-language" content="fa-IR" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="google" content="notranslate" />

    <link href="~/Content/font.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/panel.css" rel="stylesheet" />
    <style>
        .control-label
        {
            text-align: left;
            padding-top: 7px;
        }
    </style>
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" async ></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" async ></script>
        <![endif]-->
</head>
<body class="hold-transition skin-admin sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini">
                    کارشناس پایتخت
                </span>
                <span class="logo-lg">
                    کارشناس پایتخت
                </span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">تعویض منو</span>
                </a>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <a class="btn btn-social bg-orange btn-block btn-labeled" data-toggle="modal" href="~/" target="_blank">
                        <i class="fa fa-home"></i>
                        <span>مشاهده سایت</span>
                    </a>
                    <div class="clearfix"></div>
                    <hr />
                </div>
                <ul class="sidebar-menu">
                    <li class="treeview">
                        <a href="@Url.Action("Index","Home")">
                            <i class="fa fa-dashboard"></i> <span>داشبورد</span>
                            </a>
                    <li class="treeview">
                        <a href="@Url.Action("Index","Audit")">
                            <i class="fa fa-align-center"></i> <span>درخواست ها</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a>
                            <i class="fa fa-newspaper-o"></i>
                            <span>اطلاعات پایه</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","CarManufacture")"><i class="fa fa-industry"></i> سازنده </a></li>
                            <li><a href="@Url.Action("Index","CarModel")"><i class="fa fa-car"></i> مدل</a></li>
                            <li><a href="@Url.Action("Index","CarYear")"><i class="fa fa-calendar"></i> سال ساخت</a></li>
                            <li><a href="@Url.Action("Index","CarDetail")"><i class="fa fa-spinner"></i>جزئیات</a></li>
                            <li><a href="@Url.Action("Index","City")"><i class="fa fa-location-arrow"></i> شهر</a></li>
                            <li><a href="@Url.Action("Index","CarModelYearDetail")"><i class="fa fa-database"></i> جزئیات کلی </a></li>
                            <li><a href="@Url.Action("Index","MetaKeyWord")"><i class="fa fa-database"></i> کلمات کلیدی </a></li>
                            <li><a href="@Url.Action("Index","Blog")"><i class="fa fa-database"></i> وبلاگ </a></li>
                            <li><a href="@Url.Action("Index","FAQ")"><i class="fa fa-database"></i> پرسش و پاسخ </a></li>


                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.DashboardTitle
                </h1>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                &copy; @BICT.Payetakht.Helper.PersianDateTime.Now.Year
            </div>
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.rtl.min.js"></script>
    <script src="~/Scripts/panel.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
