@model BICT.Payetakht.Data.ViewModels.FAQViewModel
@{
    ViewBag.DashboardTitle = "پرسش و پاسخ";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Question, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Question, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Answer, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Answer, new { @class = "form-control", id = "Answer" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">ذخیره</button>
            <a href="@Url.Action("Index")">بازگشت</a>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
        @Scripts.Render("~/Scripts/ckeditor/translations/fa.js")
        <script>
            ClassicEditor
                .create(document.querySelector('#Answer'), {
                    language: 'fa',
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    direction: 'rtl'
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
    }
}
