@model BICT.Payetakht.Data.ViewModels.CarYearViewModel
@{
    ViewBag.DashboardTitle = "سازنده";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    

    <div class="form-group">
        @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">ذخیره</button>
            <a href="~/Dashboard/CarYear">بازگشت</a>
        </div>
    </div>

}

@*<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th>عنوان</th>
            <th></th>
        </tr>

        <tr>
            <div>*@


            </div>
<td>
    <div class="btn-group">
        <a class="btn btn-info" href="@Url.Action("Edit","CarYear",new { id = Model.ID })">ویرایش</a>
        <a class="btn btn-danger" href="@Url.Action("Delete","CarYear",new { id = Model.ID })">حذف</a>
    </div>
</td>
        </tr>
    </table>
</div>
<a href="@Url.Action("Index")">بازگشت</a>