@model IList<BICT.Payetakht.Data.ViewModels.CarYearViewModel>
@{
    ViewBag.DashboardTitle = "سال ساخت";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th>عنوان</th>
            <th>عنوان مدل</th>
            <th>عنوان سازنده</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Year</td>
                <td>@item.CarModelTitle</td>
                <td>@item.CarManufactureTitle</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" href="@Url.Action("Edit",new { id = item.ID })">ویرایش</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete",new { id = item.ID })">حذف</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<a href="@Url.Action("Create")">افزودن سال</a>